{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block title %}Home{% endblock %}

{% block meta_description %}
    Home page for Esperanza Life Coaching. A wealth of resources for anyone who feels overwhelmed. Free helpful articles, and videos as well as other products and life-coaching packages to purchase.
{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}


{% block content %}
    {% include 'home/welcome_page.html' %}
{% endblock %}
